@import "../../global.scss";
.contentpage-root {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 2em 5em;
    gap: 2em;
    .middle-section {
        display: flex;
        width: 60%;
        min-height: 600px;
        background-color: #ffff;
        border-radius: $big-curve;
        gap: 2em;
        padding: 2em 2em;
        .images-section {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;
            .one-image {
                width: 100%;
                height: 600px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $big-curve;
                }
            }
            .images {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
        .body-section {
            display: flex;
            width: 60%;
            flex-direction: column;
            justify-content: start;
            gap: 20px;
            .body {
                font-size: 20px;
                color: #777777;
            }
            .top-section {
                width: 100%;
                .tags {
                    color: $fontGray;
                    font-size: 20px;
                }
                .name {
                    color: #000;
                    font-size: 32px;
                    font-weight: 600;
                }
                .location {
                    color: #a1a1a1;
                    font-size: 16px;
                }
            }
        }
    }
    .like-section {
        width: 60%;
        height: auto;
        display: flex;
        gap: 1em;
        .like {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.1rem 0.6rem;
            gap: 5px;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            border-radius: $small-curve;
        }
        .like:nth-child(1) {
            background: $yellow;
            color: white;
        }
        .like:nth-child(1):hover {
            background: $orange;
            color: white;
        }
        .like:nth-child(2) {
            background: #dadada;
            color: #383838;
        }
        .like:nth-child(2):hover {
            background: #707070;
            color: #ffffff;
        }
    }
    .comment-section {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
        .addcomment-section {
            width: 100%;
            min-height: 200px;
            display: flex;
            flex-direction: row;
            background: #ffff;
            padding: 2em 6em;
            border-radius: $small-curve;
            textarea {
                width: 80%;
                min-height: 200px;
                padding: 1em 2em;
                outline: none;
                border: dashed 1px $fontGray;
                border-radius: $small-curve;
                font-size: 20px;
            }
            .textarea-interaction {
                display: flex;
                flex-direction: column;
                width: 20%;
                .comfirm {
                    align-self: center;
                    width: 90%;
                    background: $orange;
                    padding: 0.5em 2em;
                    font-size: 20px;
                    border-radius: $small-curve;
                    font-weight: 500;
                    color: white;
                    cursor: pointer;
                    text-align: center;
                }
                .cancle {
                    text-align: center;
                    align-self: center;
                    width: 90%;
                    padding: 0.5em 2em;
                    font-size: 20px;
                    font-weight: 400;
                    color: $fontGray;
                    cursor: pointer;
                }
            }
        }
    }
}